body {
  background-image: url(https://e1.pxfuel.com/desktop-wallpaper/286/965/desktop-wallpaper-buy-pastels-watercolor-world-map-2021-world-map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: rgb(92, 162, 192);
}
